# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/models/obj/lego.obj
public/models/obj/PignaOC.obj
public/models/fbx/Fruttiera.fbx
public/models/obj/lego.json
public/models/textures/pedestrian_overpass_1k.hdr
public/models/textures/PignaOC.png
public/models/textures/studio_small_09_4k.hdr
public/models/textures/uv_grid_opengl.jpg
